{% extends "layout.html" %}

{% block title %}Register{% endblock %}

{% block navlinks %}
    <img src="notebook.jpeg"
        alt="notebook"
        class="btn switch-theme-btn"
        data-bs-toggle="tooltip" data-bs-placement="bottom" title="Toggle Dark/Light theme" />
    <div class="d-flex">
        <a class="nav-link" href="/login">Login</a>
        <a class="nav-link" href="/register">Register</a>
    </div>
{% endblock %}

{% block content %}
    <form action="/register" method="post" style="text-align: center;">
        <input type="text" class="form-control mb-3"
                name="username" placeholder="Username" autocomplete="off"
            value="{{ request.form.get("username") if request.form.get("username") else "" }}">
        <input type="password" class="form-control mb-3"
                name="password" placeholder="Password" autocomplete="off"
            value="{{ request.form.get("password") if request.form.get("password") else "" }}">
        <input type="password" class="form-control mb-3"
                name="confirmation" placeholder="Confirmation" autocomplete="off"
            value="{{ request.form.get("confirmation") if request.form.get("confirmation") else "" }}">
        <button type="submit" class="btn btn-primary">Register</button>
    </form>
{% endblock %}